/*________________________
				
		BASICS
 _________________________*/

body {
	font: 16px/1.6 "Lato", sans-serif;	
	margin: 0;
	padding: 0;
	color: #003566;	
}

.container { padding-top: 70px; padding-bottom: 70px; }

h1 { font: 26px/1.4 "Source Code Pro", monospace; }
p {	font-family: 'Roboto', sans-serif; }
a.btn { 
	font-family: 'Roboto', sans-serif;
	background: #000044; 
	padding: 1em 1.5em 1em 2em; 
	transition: .1s;
}
/*_________________________

		START PAGE
___________________________*/

/* Custom, Extra Small Devices, Vertical iPhone5 Retina */
#startPage h1 {
	font-size: 1.5em;
	padding: 0;
	margin-top: -1em;
	margin-left: -.2em;		
}
#startPage p {
	font-size: .8em;
	font-style: italic;
	margin: 3em 2.5em 7em 1em;
}
#startPage a.btn { float: right; }	
#startPage a.btn:hover, #startPage a.btn:hover { 
	background: #003566; 
	padding: 1.1em 1.6em 1.1em 2.1em;
}

/* Small Devices, Horizontal Phones & Vertical Tablets */
@media only screen and (min-width : 480px) {
	#startPage h1 { font-size: 2.3em; }
	#startPage p { margin: 3em 0 6em 1.5em; font-size: 1em; }
	#startPage a.btn { margin-right: 1em; }
}

/* Small Devices, Horizontal Tablets & Low Resolution Desktops  */
@media only screen and (min-width: 768px){
	#startPage h1 { font-size: 2.5em; margin-top: 1em; }
	#startPage p { margin-left: 1.6em; }
	#startPage a.btn { margin-right: 2em; }
}

/* Medium Devices, Normal Desktops */
@media only screen and (min-width: 992px){
	#startPage h1 { font-size: 3em; }
	#startPage p { margin: 4em 0 7em 2em; font-size: 1.2em; }
	#startPage a.btn { font-size: 1.4em; margin-right: 3em;	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px){
	#startPage h1 { font-size: 3.2em; }
	#startPage p {  margin: 3em 2.5em 8em 2em; font-size: 1.3em; }
	#startPage a.btn { margin-right: 4em; }
}

/*_________________________
		
		NAVIGATION MENU
___________________________*/

nav.navbar {
	height: 100px;
	background-color: #FFF;
	transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
}
nav.navbar.shrink {
	height: 52px;
}
.navbar-brand {
	font: 24px/1.4 "Source Code Pro", monospace;
	padding-top: 1.5em;
	color: #4A5878;
	text-shadow: 1px 1px 2px #8A94A4;
	transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
}
.navbar-brand:hover, .navbar-brand:focus {	
	color: #DCDCDC;
	text-shadow: 1px 1px 2px #050132;
}
nav.navbar.shrink .navbar-brand {
	font: 20px/1.4 "Source Code Pro", monospace;
	transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
	left: 15%;
	padding-top: .8em;
}
.navbar-header ul {
	float: left;
}
#mainMenu {
	float: right;
	background-color: transparent;
}
#mainMenu ul {
	float: right;
	font-size: 16px;
	margin-right: .5em;
	margin-top: 1.5em;
}
nav.navbar.shrink #mainMenu ul {
	font-size: 15px;
	margin-top: -.5em;
	transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
}
#mainMenu ul li {
	padding: .5em;
	padding-bottom: 0;
}
#mainMenu ul a {
	color: #4A5878;
	border: 1px solid #FFF;
}
#mainMenu ul li.active a {
	background-color: #6d7ea3;
	color: #FFF;
}
#mainMenu li a:hover, #mainMenu li a:focus {
	background-color: transparent;
	border: 1px solid #6d7ea3;
}
#mainMenu li.active a:hover, #mainMenu li.active a:focus {
	text-decoration: none;
	border: 1px solid #FFF;
}
#language-menu .dropdown-menu {
	background-color: #FFF;
	border: 1px solid #6d7ea3;
}
#language-menu:hover, #language-menu:focus {
	background-color: transparent;
}
#language-menu .dropdown-menu li {
	width: 100%;
}

#language-menu .dropdown-menu li a {	
	font-size: 14px;
	padding-right: 3em;
	color: #4A5878;
	background-color: #FFF;
}
#language-menu .dropdown-menu li.selected a {
	background-color: #6d7ea3;
	color: #FFF;
}
#language-menu .dropdown-menu li a:hover, #language-menu .dropdown-menu li a:focus {
	color: #4A5878;
}
#language-menu .dropdown-menu li.selected a:hover, #language-menu .dropdown-menu li.selected a:focus {
	color: #FFF;
	text-decoration: none;
	border: 1px solid #FFF;
}
@media (max-width: 767px){
	nav.navbar {
		height: 90px;
		transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
	}
	nav.navbar.shrink {
	  	height: 40px;
	}
	.navbar-brand {
	 	width: 82%;
	 	font: 19px/1.4 "Source Code Pro", monospace;
		transform: translateX(-10%);
			-webkit-transform: translateX(-10%);
				-moz-transform: translateX(-10%);
		float: left;
		margin-left: 1em;
		margin-top: -4em;
		transition: all 0.4s ease;
			-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
					-o-transition: all 0.4s ease;
	}
	nav.navbar.shrink .navbar-brand {
		font: 16px/1.4 "Source Code Pro", monospace;
		left: 45%;
		margin-top: .1em;
	}
	#menu {
		float: right; 
		font-size: 16px;
		box-shadow: none;
			-webkit-box-shadow: none;
				-moz-box-shadow: none;		
		background-color: #FFF;
		background: linear-gradient(to bottom, #6d7ea3 5%, #353a47 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6d7ea3), color-stop(1, #353a47));
			background: -webkit-linear-gradient(top, #6d7ea3 5%, #353a47 100%);
				background: -moz-linear-gradient(top, #6d7ea3 5%, #353a47 100%);
					background: -o-linear-gradient(top, #6d7ea3 5%, #353a47 100%);
						background: -ms-linear-gradient(top, #6d7ea3 5%, #353a47 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d7ea3', endColorstr='#353a47',GradientType=0);
		
		border: 1.5px solid #8A94A4;
		color: #DCDCDC;		
		margin: .8em;
		margin-top: 1em;
		padding: .7em .8em .5em .9em;
		border-radius: 50%;
			-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
		transition: all 0.4s ease;
			-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
					-o-transition: all 0.4s ease;
	}
	
	nav.navbar.shrink #menu {
		margin: .2em 1.5em;
		padding: .6em .7em .4em .8em;
	}
	#menu.change-color {
		box-shadow: 1px 1px 3px 0px #8A94A4;
			-webkit-box-shadow: 1px 1px 3px 0px #8A94A4;
				-moz-box-shadow: 1px 1px 3px 0px #8A94A4;
		border: 1.5px solid #8A94A4;
		background: linear-gradient(to bottom, #353a47 2%, #6d7ea3 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.02, #353a47), color-stop(1, #6d7ea3));
			background: -webkit-linear-gradient(top, #353a47 2%, #6d7ea3 100%);
				background: -moz-linear-gradient(top, #353a47 2%, #6d7ea3 100%);
					background: -o-linear-gradient(top, #353a47 2%, #6d7ea3 100%);
						background: -ms-linear-gradient(top, #353a47 2%, #6d7ea3 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353a47', endColorstr='#6d7ea3',GradientType=0);
		
	}
	#mainMenu {
		background-color: #FFF;
		padding: 0;
		margin-top: .4em;
	}
	nav.navbar.shrink #mainMenu {
		margin-top: -.2em;
	}
	#mainMenu ul {		
		width: 99%;
		margin: 0;
		padding: 0;
	}
	#mainMenu ul li {
		font-size: 14px;
		line-height: 1px;
		margin: 0;
		padding: 0;
		text-align: right;				
	}
	#language-menu .dropdown-menu {
		border: 0px solid #FFF;
	}
	#language-menu .dropdown-menu li {
		margin: 1px;
	}
}
/*____________________

		MAIN
______________________*/

/* HOME */
.homeText {
	padding: 2em;
}
.homeText p {
	font-size: .9em; 
	padding-top: 1em;
	padding-bottom: 2em;
}
.homeText a.btn {
	border: none;
}
.homeText a.btn:hover, .homeText a.btn:focus {
	padding: 1.1em 1.6em 1.1em 2.1em;
	background-color: #003566; 
}
#home {
	padding-top: 6em;
	width: 99%;
	padding-left: 2em;
}
#homeAbout {
	text-align: left;
	padding: 2em;
}
#homeContact {
	text-align: center;
	padding: 2em;	
}
#homeBlog {
	text-align: right;
	padding: 2em;
}
#homeAbout, #homeBlog {	
	background-color: #050132;
	border-bottom: 1px solid #050132;	
	background: linear-gradient(to bottom, #576885 5%, #050132 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #576885), color-stop(1, #050132));
		background: -webkit-linear-gradient(top, #576885 5%, #050132 100%);
			background: -moz-linear-gradient(top, #576885 5%, #050132 100%);
				background: -o-linear-gradient(top, #576885 5%, #050132 100%);
					background: -ms-linear-gradient(top, #576885 5%, #050132 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#576885', endColorstr='#050132',GradientType=0);
	color: #FFF;
}

#homeAbout a.btn, #homeBlog a.btn {
	background-color: #FFF;
	color: #050132;
}
#homeAbout a.btn:hover, #homeAbout a.btn:focus, #homeBlog a.btn:hover, #homeBlog a.btn:focus {
	background-color: #DCDCDC;
}
@media (max-width: 767px) {
	.homeText {
		padding: .2em;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: right;
	}
	.homeText a.btn {
		padding: .8em 1.3em .8em 1.8em;
		margin-right: .5em;
	}
	.homeText h3 {
		text-align: center;
	}
	.homeText p {
		text-align: left;
	}
	.homeText a.btn:hover, .homeText a.btn:focus {
		padding: .9em 1.4em .9em 1.9em;
		background-color: #003566; 
	}
	#home {
		padding-top: 5em;
		width: 99.98%;
		padding-left: -1em;
	}
	#homeAbout, #homeContact, #homeBlog {
		padding: 0.2em;
		padding-top: 1em;
	}
	#homeAbout img, #homeContact img, #homeBlog img {
		padding: 1em;
		padding-left: 1.2em;
	}
}
/* ABOUT ME */
#aboutMe {
	border: 1px solid #0AA;
}

/* CONTACT */
#contact {
	border: 1px solid #055;
}

/*____________________
				
		FOOT
 _____________________*/

/* Estil bàsic del peu de pàgina */
footer {
	clear: both;	
	background-color: #FFF;	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: .7em;	
	text-align: left;	
}
/* Estil de llista no ordenada (1r nivell) */
footer ul {	
	margin: 0 auto;
	position: relative;
	display: inline-block;		
}
/* Estil per a la llista del grup de la dreta */
footer ul.fRight {
	width: 40%;
	margin-right: 1em;
	float: right; /* flotem a la dreta */
}
/* Estil per a la llista del grup de l'esquerra */
footer ul.fLeft {
	width: 40%;
	margin-left: 3em;
	float: left; /* flotem a l'esquerra */
}
/* Estil per a cada element (1r nivell) */
footer ul li {
	width: 13em;
	position: relative;	
	list-style-type: none; /* Treiem els pics */
	padding: .5em; /* Marquem separació d'elements */
	margin-left: -1em;
	display: inline-block;
	float: left;	
}
/* Estil dels vincles */
footer ul li a { text-decoration: none; color: #01546A; }
/* Estil dels vincles quan arriba el focus o el cursor */
footer ul li a:hover, footer ul li a:focus { color: #000; text-decoration: underline; }
/* Estil per llista no ordenada (2n nivell) */
footer ul li ul { margin-left: -1em; margin-right: 2em; }
/* Estil de cada element de llista (2n nivell) */
footer ul li ul li { clear:both; display: block; }

